*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(248, 248, 224);
    font-family: sans-serif 'poppins';
}
section{
    position:relative;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: flex-start;
    background-color: antiquewhite;
    min-width: 500px;
}
header{
    position: relative;
    top:0;
    z-index: 0;
    position:fixed;
    width:100%;
    padding:20px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color:#f8a5a5;
}
header .navigation ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    padding:30px;
    gap:40px;
}
a{
    text-decoration: none;
    color:#f69292;
}
label{
    display:none;
}
label i:hover{
    color:#d26c6c
}
.show-menu{
    transform: translateY(-200%) !important;
}

@media (max-width:1000px){
 .nav-list{
    display:none;
    top:167px;
    left:0;
    background-color:  white;
    width:100%;
    padding:10px 0 25px;
    flex-direction:column;
    align-items:center;
    row-gap:10px;
}
  label {
    display: block;
    font-size: 25px;
    cursor:pointer;
    transition:0.3s;
    transition-property: color;
  }
  header .navigation ul{
    flex-direction:column;
    align-items:center;
    row-gap:20px;
    transform:translateY(118%);
    padding:30px 100px;
  }
}